@media (max-width: 768px)
  .header
    height: 1336px
    background: url(../img/bg-mobile.jpg) 0 0/100% 100% no-repeat
  .navbar
    height: 113px
    background-color: rgba(84, 90, 91, 0.9)
    &-logo
      &__img
        max-width: 100%
        width: 366px
        height: 81px
        margin: 14px 0 0 25px
    &-menu
      background-color: rgb(37, 48, 53)
  .intro
    &__title
      font-size: 95px
      font-weight: 300
      line-height: 1.5
      letter-spacing: 2px
      margin: 350px 0 49px
    &__arrow
      display: inline-block
      width: 65px
      height: 65px
      cursor: pointer
